<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <div class="login-wrap p-4 p-md-5">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="fa fa-user-o"></span>
        </div>
        <h3 class="text-center mb-4">Regístrate para comprar artículos</h3>
        <form action="/signup" method="POST" class="">
            <div class="row gy-3">
                <div class="col-12">
                    <label for="username" class="form-label">Nombre de usuario</label>
                    <input type="text" class="form-control" id="username" placeholder="" name="username">
                </div>
                <div class="col-12">
                    <label for="username" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" placeholder="" name="password">
                </div>
                <div class="col-12">
                    <div class="d-grid">
                        <button class="btn btn-primary" type="submit">Crear cuenta</button>
                    </div>
                </div>
                <div class="col-12">
                  Ya tienes cuenta? <a href="/">Iniciar sesión</a>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>